/* h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Chakra Petch !important;
  font-weight: 700;
} */
body,
html {
  font-family: Chakra Petch !important;
  /* width: 100%;
  height: 100%; */
  /* background: url(./bg3.jpg);
  background-size: contains; */
}

/* body {
  margin: 0;
  padding: 0;
  font-family: Chakra Petch, Merriweather, 'Helvetica Neue', Arial, sans-serif;
} */

#navbar {
  height: 2.5rem;
}

.row {
  padding: 10px;
}

.press-releases {
  text-align: justify;
}

.press-releases-container {
  width: 600px;
}

/* #main {
  background-color: red;
} */

header.masthead {
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* background-repeat: repeat; */
  height: calc(100vh - 2.5rem);
  /* max-width: 100%; */
  /* background: url(./bg3.jpg);
  background-size: 100%; */

  /* overflow-x: hidden; */
}

.main body {
  margin: 0px;
  padding: 0px;
  background: url(./bg3.jpg);
  background-size: 100%;
}

/* header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
} */
header.masthead h1 {
  font-size: 2rem;
}
header.masthead p {
  font-weight: 300;
}
/* @media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
    font-family: "Chakra Petch";
  }
} */
.card-deck {
  justify-content: center;
}

#cardHeading {
  background-color: white;
}

#candidatesImg {
  height: 100px;
  width: 150px;
}

.addCandList {
  list-style-type: none;
}

#partyIconImg {
  height: 20%;
  width: 20%;
}

#headShotImg {
  height: 20%;
  width: 20%;
}
