.election-container {
  border-width: medium;
  border-color: aqua;
  /* background-color: purple; */
}

.row {
  padding: 10px;
}

.press-releases {
  text-align: justify;
}

.press-releases-container {
  width: 600px;
}

#main {
  background-color: red;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url(./bg8.jpg);
  background-position: center center;
  background-size: cover;
}
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
header.masthead h1 {
  font-size: 2rem;
}
header.masthead p {
  font-weight: 300;
}
@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}
.card-deck {
  justify-content: center;
}

#cardHeading {
  background-color: RGB(0, 21, 188);
}

#candidatesImg {
  height: 100px;
  width: 150px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Chakra Petch, Merriweather, "Helvetica Neue", Arial, sans-serif;
}
