body,
html {
  font-family: Chakra Petch !important;
}

#navbar {
  height: 2.5rem;
}

/* #navbar a:hover {
  color: yellow;
}
#navbar a:active {
  color: blue;
}
#navbar-brand a:focus {
  color: blue;
} */

.navbar a {
  color: #fff;
  transition: 0.3s red;
}
.nav a.hover {
  background-color: purple;
}

.nav a.active {
  background-color: black;
  color: green;
  cursor: default;
}

.row {
  padding: 10px;
}

#main {
  margin-top: 2.5em;
  background: url(./main.jpg) center center fixed;
  background-size: contains;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
#main h1 {
  padding: 0.75em;
  font-size: 10vw;
}

.modal-title {
  margin: 0 auto;
}

.press-releases {
  text-align: justify;
}

.press-releases-container {
  width: 600px;
}

.card-deck {
  justify-content: center;
}

.card-header p {
  text-decoration: none;
  text-decoration-line: none;
  color: white;
  font-size: 120%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.card-header:hover {
  background-color: #0000ff;
  opacity: 0.9;
  /* box-shadow: 0 0 2px 1px rgba(252, 252, 13, 0.845); */
}

.addCandList {
  list-style-type: none;
}

.candidate-card {
  color: green;
  background-color: purple;
}

.candidate-info-card {
  text-decoration: none;
  text-decoration-line: none;
  color: green;
  background-color: purple;
}

.candidate-name {
  text-decoration: none;
}

.candidate-name-heading {
  text-decoration: none;
  color: green;
}

#cardHeading {
  background-color: white;
}

#candidatesImg {
  height: 100px;
  width: 150px;
}

.addCandList {
  list-style-type: none;
}

#partyIconImg {
  /* //margin-top: 20px;  */
  margin: 50px;
  /* padding-top: 50px;
  padding-left: 20px;  */
  height: 10%;
  width: 10%;
}

.headShotImg {
  margin-top: 0px;
  padding-top: 0px;
  height: 25%;
  width: 25%;
  border: 5px solid white;
  border-radius: 15px;
}

.btn-navy {
  background-color: navy;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-navy:hover {
  background-color: red;
}

.addCandList {
  justify-content: left;
}
