body,
html {
  font-family: Chakra Petch !important;
}

#navbar {
  height: 2.5rem;
}

#navbar a {
  color: white !important;
}

#navbar a:hover {
  color: yellow !important;
}

#navbar a:active {
  color: blue !important;
}

/* #navbar .active > a,
#navbar .active > a:focus,
#navbar .active > a:hover {
  color: blue !important;
} */

.row {
  padding: 10px;
}

#main {
  margin-top: 2.5em;
  background: url(./main.jpg) center center fixed;
  background-size: contains;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
#main h1 {
  padding: 0.75em;
  font-size: 10vw;
}

.modal-title {
  margin: 0 auto;
}

.press-releases {
  text-align: justify;
}

.press-releases-container {
  width: 600px;
}

.card-deck {
  justify-content: center;
}

.card-header p {
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  font-size: 120%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.card-header:hover {
  background-color: #0000ff46;
  /* opacity: 0.9; */
  color: white;
  /* box-shadow: 0 0 2px 1px rgba(252, 252, 13, 0.845); */
}

.addCandList {
  list-style-type: none;
}

.candidate-card {
  color: green;
  background-color: purple;
}

.candidate-info-card {
  text-decoration: none;
  text-decoration-line: none;
  color: green;
  background-color: purple;
}

.candidate-name {
  text-decoration: none;
}

.candidate-name-heading {
  text-decoration: none;
  color: green !;
}

#cardHeading {
  background-color: white;
}

#black {
  color: red !important;
}

#candidatesImg {
  height: 100px;
  width: 150px;
}

.addCandList {
  list-style-type: none;
}

#partyIconImg {
  /* //margin-top: 20px;  */
  margin: 50px;
  /* padding-top: 50px;
  padding-left: 20px;  */
  height: 10%;
  width: 10%;
}

#footerText {
  font-size: 65%;
  text-align: center;
  color: gray;
}

.headShotImg {
  margin-top: 0px;
  padding-top: 0px;
  height: 25%;
  width: 25%;
  border: 5px solid white;
  border-radius: 15px;
}

.btn-navy {
  background-color: navy;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-navy:hover {
  background-color: red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
.addCandList {
  justify-content: left;
}
.voteRow:hover {
  background-color: rgba(3, 3, 128, 0.413);
  color: white;
}
.voteRow:active {
  background-color: rgba(255, 0, 0, 0.33);
  color: white;
}

.night-hotel {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  border: none;
  font: normal 175px/1 "Monoton", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255),
    0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 17, 119),
    0 0 70px rgb(255, 17, 17), 0 0 80px rgb(255, 17, 17),
    0 0 100px rgb(255, 17, 17), 0 0 150px rgb(255, 17, 17);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.night-hotel:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 17, 17),
    0 0 35px rgb(255, 17, 17), 0 0 40px rgb(255, 17, 17),
    0 0 50px rgb(255, 17, 17), 0 0 75px rgb(255, 17, 17);
}
